.testimonials-table {
	border-bottom: none !important;
}

	.testimonials-table tr {
		border-bottom: 1px solid #e5e5e5;
	}

	/* START Mobile Structure! */

	@media only screen and (max-width: 781px) {
		
		.testimonials-table tr {
			display: block;
			padding: 20px 15px;
		}

		.testimonials-table td {
			display: block;
			width: 100%;
		}
		
		/* Hide UI which I can't properly design for small screens */
		.testimonials-table td.cel-1 {
			display: none !important;	
		}

		.testimonials-table td.cel-5 {}

			.testimonials-table td.cel-5 .remove-testimonial {
				border: 1px solid #e5e5e5;
				padding: 8px;
				text-align: center;
			}

			.testimonials-table td.cel-5 .remove-testimonial:hover {
				background-color: #e5e5e5;
			}
	}

	/* END Mobile Structure! */

	/* START Desktop Structure! */

	@media only screen and (min-width: 782px) {

		.testimonials-table tr {
			display: flex;
			flex-wrap: wrap;
		}

		.testimonials-table td {
			flex: 0 0 auto;
		}

		.testimonials-table td.cel-1 {
			padding-left: 20px;
			align-self: center;
		}

		.testimonials-table td.cel-2 {
			flex-basis: 200px;
		}

		.testimonials-table td.cel-3 {
			flex-grow: 1;
			flex-shrink: 1;
		}

			.testimonials-table td.cel-3 .ejo-form-field {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
			}

			.testimonials-table td.cel-3 .ejo-form-field label {
				flex-shrink: 1;
			}

			.testimonials-table td.cel-3 .ejo-form-field textarea {
				flex-grow: 1;
			}

		.testimonials-table td.cel-4 {
			flex-basis: 150px;
		}
		
		.testimonials-table td.cel-5 {
			padding-right: 20px;
			align-self: center;
			flex-shrink: 0;
		}

	}

	/* END Desktop Structure! */

	.testimonials-table tr.ui-sortable-helper {
		border: 1px solid #e5e5e5;
		background-color: #fff;
	}

	.testimonials-table tr {}

		.testimonials-table .id {
			display: none;
		}

		.testimonials-table input,
		.testimonials-table select,
		.testimonials-table textarea {
			width: 100%;
		}


		.testimonials-table .ejo-form-field {
		}

		.testimonials-table .ejo-form-field + .ejo-form-field {
			margin-top: 8px;
		}

		.testimonials-table label.top-label {
			margin-bottom: 2px;
			display: block;
		}
		
		/* Move icon */
		.testimonials-table .move-testimonial {
		}

		.testimonials-table .move-testimonial:before {
			cursor: move;
		}

		.testimonials-table .remove-testimonial {
			cursor: pointer;
		}
