.testimonials-table {
	border-bottom: none !important;
}

	.testimonials-table tr {
		border-bottom: 1px solid #e5e5e5;
		width: 100%;
	}

	.testimonials-table tr.ui-sortable-helper {
		border: 1px solid #e5e5e5;
		background-color: #fff;
		display: table;
	}

		.testimonials-table label {
			margin-right: 4px;
		}

		.testimonials-table .testimonial-title {
			width: 99%;				
		}

		.testimonials-table .testimonial-content {
			width: 99%;				
		}

		.testimonials-table .testimonial-caption {
			width: 99%;				
		}

		.testimonials-table .move-testimonial {
			margin-left: 10px;				
		}

		.testimonials-table .move-testimonial:before {
			cursor: move;
		}

		.testimonials-table .remove-testimonial:before {
			cursor: pointer;
		}
